*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #131313;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  padding-left: 10px;
}

.menu__link {
  padding: 43px 20px;
  text-transform: uppercase;
  transition: all .3s;
}

.menu__link:hover {
  color: #fff;
  background-color: #131313;
}

.bike {
  padding: 100px 0 150px;
}

.bike__inner {
  display: flex;
  justify-content: space-between;
}

.bike__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.bike__title {
  margin: 60px 0 5px;
  font-size: 64px;
  line-height: 77px;
  font-weight: 700;
}

.bike__subtitle {
  margin: 0 0 60px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 400;
  color: #6f6f6f;
}

.bike__text {
  margin-bottom: 20px;
  /* max-width: 420px; */
}

.bike__link {
  display: inline-block;
  margin-top: 80px;
  padding: 28px 71px 28px 81px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.1em;
  background-color: #131313;
  transition: all .3s;
}

.bike__link:hover {
  background-color: #ff4040;
}

.bike-slider .slick-dots {
  top: 50px;
  right: 0;
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  padding: 0;
  width: 2px;
  height: 25px;
  font-size: 0;
  background-color: #131313;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.slick-active button,
.slick-dots button:hover {
  background-color: #ff4040;
}

.bike__list {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.bike__list-item { 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 160px;
  min-height: 58px;
  text-align: center;
}

.bike__list-num {
  font-weight: 700;
  text-transform: uppercase;
}

.bike__list-text {
  margin: auto 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.info {
  margin-bottom: 150px;
}

.info__inner {
  display: flex;
}

.info__img {
  flex-basis: 570px;
  margin-right: 60px;
  object-fit: cover;
}

.info__list {
  flex-basis: 490px;
}

.info__item + .info__item {
  padding-top: 50px;
}

.info__item-title {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.info__item-text {
  min-width: 450px;
}

.characteristics {
  margin-bottom: 150px;
}

.characteristics__head {
  margin: 0 0 40px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.characteristics__inner {
  display: flex;
}

.characteristics__img {
  align-self: center;
}

.characteristics__items {
  flex-basis: 570px;
  margin-right: 60px;
}

.characteristics__list + .characteristics__list {
  padding-top: 30px;
}

.characteristics__title {
  padding: 2px 0 3px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #131313;
}

.characteristics__line {
  display: flex;
  padding-top: 5px;
}

.characteristics__name {
  flex-basis: 285px;
  padding-right: 25px;
}

.characteristics__description {
  flex-basis: 285px;
}

.slider {
  margin-bottom: 50px;
}

.slider__items .slick-dots {
  top: 0;
  left: 0;
}

.slider__item {
  padding-left: 50px;
}

.order {
  margin-bottom: 100px;
}

.order__inner {
  position: relative;
}

.form {
  max-width: 420px;
}

.form__title {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.form__text {
  margin-bottom: 30px;
  max-width: 300px;
}

.form__input-name,
.form__input-phone {
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  outline: none;
}

.form__input-name::placeholder,
.form__input-phone::placeholder,
.form__input-text {
  color: #6F6F6F;
  opacity: 0.5;
}

.form__input-text {
  margin-bottom: 10px;
}

.form__label-box {
  display: flex;
  margin-bottom: 50px;
}

.form__label + .form__label {
  margin-left: 23px;
}

.form__input-radio {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.form__input-radio:checked + .form__bike {
  display: block;
}

.form__bike {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
}

.form__bike-price {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 100px;
  font-size: 32px;
  border: 1px solid #ff4040;
  border-radius: 50%;
  transform: translateX(-50%);
}

.form__bike-price::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 220px;
  height: 100px;
  border: 1px solid #ff4040;
  border-radius: 50%;
}

.form__radio-style {
  width: 80px;
  height: 12px;
  border-radius: 30px;
}

.form__radio-style--grey {
  background: #6f6f6f;
}

.form__radio-style--white {
  background: #fff;
  border: 1px solid #6f6f6f;
}

.form__radio-style--red {
  background: #ff4040;
}

.form__btn {
  padding: 28px 71px 28px 81px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  color: #fff;
  text-transform: uppercase;
  background-color: #131313;
  border: none;
  cursor: pointer;
  transition: all .3s;
}

.form__btn:hover {
  background-color: #ff4040;
}

.footer {
  background-color: #131313;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.footer__link {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-decoration: underline;
}

.footer__social-link + .footer__social-link {
  margin-left: 26px;
}

.footer__contacts {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
}

.footer__contacts-link + .footer__contacts-link {
  margin-top: 10px;
}

.footer__contacts-img {
  margin-right: 10px;
}


@media (max-width: 1140px) {
  .menu__link:hover {
    color: #131313;
    background-color: #fff;
  }

  .bike__link:hover {
    color: #fff;
    background-color: #131313;
  }

  .menu__link,
  .bike__link {
    transition: all .1s;
  }
  
  .form__bike-img {
    width: 500px;
  }

  .form__bike {
    top: 45px;
  }
}


@media (max-width: 1110px) {
  .bike {
    padding: 0;
  }
  
  .bike__inner {
    flex-wrap: wrap;
  }

  .bike__text {
    max-width: 100%;
  }

  .bike__link {
    margin-top: 30px;
  }

  .bike__column {
    margin-bottom: 30px;
  }

  .bike__column-slider {
    margin-left: 0;
    max-width: 100%;
  }

  .info {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .info__img {
    display: none;
  }

  .info__list {
    flex-basis: 100%;
  }

  .info__item-text {
    max-width: 100%;
  }

  .characteristics {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .slider__img {
    object-fit: cover;
    height: 400px;
  }

  .order {
    margin-bottom: 50px;
  }
}


@media (max-width: 991px) {
  .menu {
    margin-right: 0;
  }

  .characteristics__inner {
    flex-wrap: wrap;
  }

  .characteristics__img {
    order: -1;
    margin-bottom: 30px;
    width: 100%;
  }

  .characteristics__items {
    flex-basis: 100%;
    margin-right: 0;
  }

  .characteristics__name {
    flex-basis: 50%;
  }

  .characteristics__description {
    flex-basis: 50%;
  }

  .form__label-box {
    margin-bottom: 300px;
  }

  .form__bike {
    top: auto;
    right: auto;
    bottom: 85px;
    left: 0;
  }

  .form__bike-img {
    width: 430px;
  }

  .form__bike-price {
    top: 0;
    right: -20%;
    left: auto;
    transform: translateX(100%);
  }
}


@media (max-width: 780px) {
  .form__bike-price {
    top: -55px;
    right: 0;
    transform: translateX(50%);
  }
}


@media (max-width: 670px) {
  .bike__title {
    margin: 30px 0 5px;
    font-size: 44px;
    line-height: 57px;
  }

  .bike__subtitle {
    margin: 0 0 30px;
    font-size: 22px;
    line-height: 29px;
  }

  .bike__list {
    flex-wrap: wrap;
  }

  .bike__list-item {
    margin-bottom: 15px;
    width: 50%;
  }
}


@media (max-width: 640px) {
  .header__inner {
    display: block;
    text-align: center;
  }

  .menu {
    margin-top: 50px;
  }

  .menu__list {
    justify-content: space-evenly;
  }

  .menu__item + .menu__item {
    padding-left: 0;
  }

  .menu__link {
    padding: 25px 20px;
  }

  .info__item + .info__item {
    padding-top: 25px;
  }
  
  .slider__img {
    height: 250px;
  }

  .slider__item {
    padding-left: 10px;
  }
}


@media (max-width: 580px) {
  .form__bike-price {
    top: 50px;
    right: auto;
    left: 0;
    transform: translateX(0%);
    display: block;
    font-size: 18px;
    border: none;
  }

  .form__bike-price::after {
    display: none;
  }

  .footer__inner {
    display: block;
    padding: 15px 0;
    height: auto;
    text-align: center;
  }

  .footer__social {
    padding: 15px 0;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 460px) {
  .menu__list {
    justify-content: space-between;
  }

  .menu__link {
    padding: 25px 0;
  }

  .bike__link,
  .form__btn {
    padding: 15px;
    letter-spacing: 0.9em;
  }

  .slider {
    display: none;
  }

  .form__bike {
    right: 0;
    bottom: 50px;
  }

  .form__bike-img {
    width: 270px;
  }

  .form__label-box {
    justify-content: center;
    margin-bottom: 200px;
  }

  .form__text {
    max-width: 100%;
  }

  .order__inner {
    text-align: center;
  }
}


@media (max-width: 350px) {
  .menu {
    margin-top: 30px;
  }

  .menu__link {
    font-size: 12px;
  }
}